
/*!
  reset code block padding
*/
.post-content .highlight pre code,
.post-content .highlight pre {
    color: #adbac7;
    background: #2e2e33 !important;
    border-radius: 10px;
    padding: 10px 10px !important;
}