.posts-expand {
  .post-eof {
    display: block;
    margin: 40px auto $post-eof-margin-bottom;
    width: 8%;
    height: 1px;
    background: skyblue;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
