.navbar {
    background #ffffff
    border-bottom 0

    .site-name {
        color #2c3e50 !important
        font-weight bold
    }

    .links {
        background-color #ffffff !important
        color #2c3e50
    }

    .nav-links a:hover, .nav-links a.router-link-active {
        color #3498db
        border-bottom 2px solid #ffffffcc !important
    }

    .sidebar-button {
        color #2c3e50 !important
    }
}

.theme-default-content {
    max-width 960px !important
}

.header-anchor {
    display none
}

.archive {
    h1 {
        font-size 1.9rem
    }

    h2 {
        font-size 1.6rem
    }

    h3 {
        font-size 1.3rem
    }
}

div[class*='language-'] pre, div[class*='language-'] pre[class*='language-'] {
    background #282c34
}

div[class~=language-js]:before {
    content 'js'
}

div[class~=language-Java]:before {
    content 'Java'
}

div[class~=language-Kotlin]:before {
    content 'Kotlin'
}

div[class~=language-C]:before {
    content 'C'
}

div[class~=language-Cpp]:before {
    content 'C++'
}

.content__default, .excerpt {
    font-size 16px
    word-wrap break-word
    margin-top 0 !important

    p, ul, ol {
        line-height 2
    }

    h1, h2, h3 {
        color #3498db
        border 0
    }

    h4, h5 {
        color #00adc3
        font-size 18px
        border 0
    }

    a {
        text-decoration none
        color #3498db
    }

    em {
        color #5b7083
    }

    .header-anchor {
        display none
    }

    img {
        display flex
        margin auto
    }

    blockquote {
        border-left 3px solid #3498db
        margin 0
        padding 2px 10px

        p {
            margin 0
        }
    }

    code {
        background #f1f3f5
        padding 2px 6px
        border-radius 4px
        font-size 14px
        margin 0 5px
    }

    pre {
        padding 20px
        margin 25px 0
        border-radius 20px
        overflow auto
        position relative

        code {
            padding 0
            line-height 2
            font-size 13px
            margin 0
            color #fff !important

            .hljs-built_in {
                color #42a4d6
            }

            .keyword {
                color #ce6c76
            }

            .function {
                color #8d6cca
            }

            .class-name {
                color #8d6cca
            }

            .title, .type {
                color #4394d8
            }

            .punctuation {
                color #e48e0e
            }

            .tag {
                color #ea2828

                .punctuation {
                    color #43d1f1
                }

                .attr-name {
                    color #a724b7
                }

                .attr-value {
                    color #0fad64
                }
            }

            .operator {
                color #6bb4ff
            }

            .number, .literal {
                color #e48e0e
            }

            .doctag {
                color #009688
            }

            .comment, .quote {
                color #9E9E9E
            }

            .attribute, .name {
                color #ea2828
            }

            .attr {
                color #525252
            }
        }
    }

    table {
        overflow auto
        display block

        tr {
            th {
                padding 8px 15px
                color #0f1419
            }

            td {
                padding 8px 15px
            }
        }
    }
}