
$border = #22272e;
$primary-color = #3498db;

body {
}

#app {
    position: relative;
    padding-bottom: 150px;
}

.bilibili {
    display: block;
    margin: auto;
    height: 450px;
    width: 90%;
    min-width: 300px;

    @media (max-width: 1300px) {
        height: 400px;
    }

    @media (max-width: 700px) {
        height: 200px;
    }

    @media (max-width: 400px) {
        height: 150px;
    }
}

.navbar {
    background: #ffffff;

    .site-name {
        color: #2c3e50 !important;
        font-weight: bold;
    }

    .links {
        background-color: #ffffff !important;
        color: #2c3e50;
    }

    .nav-links a:hover, .nav-links a.router-link-active {
        color: $primary-color;
        border-bottom: 2px solid #ffffffcc !important;
    }

    .sidebar-button {
        color: #2c3e50 !important;
    }
}

@media (max-width: 959px) {
    .navbar {
        padding-left: 4rem;

        .can-hide {
            display: none;
        }

        .site-name {
            width: calc(100vw - 9.4rem);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .sidebar-button {
            display: block;
        }
    }

    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.2s ease;
    }

    .sidebar-open .sidebar {
        transform: translateX(0%);
        transition: transform 0.2s ease;
    }
}

.theme-default-content {
    max-width: 960px !important;
}

.header-anchor {
    display: none;
}

div[class*='language-'] {
    border-radius: 10px;
    border: 1px solid $border;
}

div[class*='language-'] pre, div[class*='language-'] pre[class*='language-'] {
    background: $border;
}

div[class~=language-js]:before {
    content: 'js';
}

div[class~=language-Java]:before {
    content: 'Java';
}

div[class~=language-HTML]:before {
    content: 'HTML';
}

div[class~=language-Kotlin]:before {
    content: 'Kotlin';
}

div[class~=language-C]:before {
    content: 'C';
}

div[class~=language-Cpp]:before {
    content: 'C++';
}

.content__default, .excerpt {
    font-size: 16px;
    word-wrap: break-word;
    margin-top: 0 !important;

    p {
        line-height: 1.75;
    }

    ul, ol {
        line-height: 2;
    }

    h1, h2 {
        color: $primary-color;
        border: 0;
        margin: 30px 0 10px !important;
    }

    h3, h4, h5 {
        color: #00adc3;
        border: 0;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        margin-block-start: 10px;
        margin-block-end: 10px;
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }

    em {
        color: #5b7083;
    }

    strong {
        text-decoration: underline;
    }

    .header-anchor {
        display: none;
    }

    img {
        display: flex;
        margin: auto;
        max-width: 95%;
    }

    blockquote {
        border-left: 4px solid $primary-color;
        border-radius: 0px 10px 10px 0;
        color: #666;
        background: #f0f0f0cc;
        margin: 0;
        padding: 2px 8px;

        p {
            margin: 0;
        }
    }

    code {
        background: #f0f0f0cc;
        padding: 2px 6px;
        border-radius: 4px;
        font-size: 14px;
        margin: 0 0;
        color: $primary-color;
    }

    .extra-class {
        margin: 15px;
    }

    pre {
        padding: 1rem 1.5rem 0.5rem !important;
        margin: 25px 0;
        border-radius: 15px !important;
        overflow: auto;
        position: relative;

        code {
            padding: 0;
            margin: 0;
            color: #e9e9e9 !important;

            .hljs-built_in {
                color: #42a4d6;
            }

            .keyword {
                color: #ce6c76;
            }

            .function {
                color: #b392f0;
            }

            .class-name {
                color: #81a6ed;
            }

            .title, .type {
                color: #4394d8;
            }

            .punctuation {
                color: #e48e0e;
            }

            .tag {
                color: #ea2828;

                .punctuation {
                    color: #43d1f1;
                }

                .attr-name {
                    color: #a724b7;
                }

                .attr-value {
                    color: #0fad64;
                }
            }

            .operator {
                color: #6bb4ff;
            }

            .number, .literal {
                color: #e48e0e;
            }

            .doctag {
                color: #009688;
            }

            .comment, .quote {
                color: #9E9E9E;
            }

            .attribute, .name {
                color: #ea2828;
            }

            .attr {
                color: #525252;
            }
        }
    }

    table {
        overflow: auto;
        display: block;

        tr {
            th {
                padding: 8px 15px;
                color: #0f1419;
            }

            td {
                padding: 8px 15px;
            }
        }
    }
}