.navbar
  position relative
  padding-top 3rem
  text-align center
  font-size 1.2rem
  font-weight bold

  .nav
    list-unstyled()

    .nav-item-link
      display block
      padding 1rem
      color sea-dark
      text-decoration none
      cursor pointer

      &:hover
        color link-hover-color

    &.nav-main
      .nav-item-link
        &::before, i.fe
          display block
          line-height 1

        &::before
          font-family 'feathericon'

      .nav-item
        &:nth-child(1) // 归档
          .nav-item-link
            &::before
              content '\f12a'

        // &:nth-child(3)         // gallery
        // .nav-item-link
        // &::before
        // content '\f1a9'
        &:nth-child(2) // 关于
          .nav-item-link
            &::before
              content '\f174'

        &:nth-child(3) // 旅途
          .nav-item-link
            &::before
              content '\f136'

        &:nth-child(4) // 技术笔记
          .nav-item-link
            &::before
              content '\f1d3'

        &:nth-child(5) // 算法代码
          .nav-item-link
            &::before
              content '\f117'

        &:nth-child(6) // 日常记录
          .nav-item-link
            &::before
              content '\f166'

        &:nth-child(7) // 英日翻译
          .nav-item-link
            &::before
              content '\f109'

.navbar-bottom
  position absolute
  bottom 0
  width 100%

.logo
  text-align center

  img
    width brand-size
