// Custom styles.背景颜色
body{   
        background:url(http://img.netbian.com/file/2019/0323/a52522a1eaed650cbd4186f8c6b9b91c.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }
.content {
     border-radius: 50px;
     margin-top: 20px;
}