// Custom styles.背景颜色
body{   
        background:url(https://www.arukione.com/images/background.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }

.content {
     border-radius: 50px;
     margin-top: 20px;
}

//侧边栏颜色背景
#sidebar {
            background: rgba(135, 206, 235, 0.7) ;
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            a, .links-of-blogroll-title {
                 color: black;
            }
}

#posts code {color: black;background-color:skyblue;}

a.brand {
     background-color: skyblue;
     color:#3a74d1;
     border-radius: 5px;
}



.post {
     color: black;
}

.footer-inner {
     //a {colo: black;}
     color: black;
}

a.btn {
     background: skyblue;
     color:black;
     border-color: skyblue;
     border-radius: 15px;
     
     }


#footer a {
     color:#ea9999;
}
	

//底部博客信息颜色
.footer {
    font-size: 14px;
    color: #000;
}
	//当鼠标移动到选项时的优化
.menu .menu-item a:hover, .menu-item-active a {
    background: #ffffff85;
    border-bottom-color: #dcd1d196;
}

