// Custom styles.背景颜色
body{   
        background:url(https://images6.alphacoders.com/601/601846.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }

.content {
     border-radius: 50px;
     margin-top: 20px;
}

#posts code {color: black;background-color:skyblue;}

//侧边栏颜色背景
#sidebar {
            background:rgba(255,255,255,0.7);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            //p,span a {color: #0A697C;}
}

.post {
   color: black;
  }

.footer-inner {
     //a {colo: black;}
     color: black;
}