.articles
  .article
    padding 4.5rem 0
    position relative
    transition top 1s ease-in-out

    &:not(:last-child)
      border-bottom border-width border-color solid

  .article-entry, .article-footer
    margin-top 0

  .article-entry
    .article-gallery
      margin-top 1.5rem